body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #007BFF;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 20%;
    margin: 0;
}

.app-store-button {
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    margin-right: 30px;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-top: 20px;
}

.carousel img {
    max-width: 45%;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.contact-links {
    text-align: center;
    margin: 20px;
    font-size: 12px;
}

.contact-links a {
    margin: 0 20px;
    color: #007BFF;
}


@media (max-width: 1125px) {
    .container {
        max-width: 100%;
    }
}


@media (min-width: 1290px) {
    .container {
        max-width: 60%;
    }
}